
header{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    background-color: crimson;
    color: white;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 15px 15px;
}
.container{
    font-family: 35px;
    font-weight: bold;
    color: white;
    display: flex;
     align-items: center;
}
.logo img{
    height: 70px;
    width: auto;
}
.logo_text{
   
}
nav ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a{
    margin-right: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}
nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: blue;
    transition:width 0.3s ease ;
}
nav a:hover{
    color: blue;
}
nav a:hover::after{
    width: 100%;
}